@import '../../scss/variables';

.inputPassword {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  position: relative;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.25);

  & input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.88);

    &:focus {
      outline: 1px solid rgba(22, 119, 255, 1);
    }
  }

  & svg {
    position: absolute;
    left: 11px;
  }

  & .error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}