.twoFactorAuthForm {
  position: relative;
  padding-bottom: 24px;

  & .arrowIcon {
    position: absolute;
    top: 9px;
    left: 13px;
    cursor: pointer;
  }

  .desc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    width: 300px;
    height: 48px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: rgba(0, 0, 0, 0.88);
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 6px;

    & input {
      box-sizing: border-box;
      padding: 0px 11px;
      width: 52px;
      height: 60px;

      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 8px;

      font-family: 'SF Pro Text';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      text-align: center;

      color: rgba(0, 0, 0, 0.88);

      &:focus {
        outline: 1px solid rgba(22, 119, 255, 1);
      }

      &.error {
        border: 1px solid #FF4D4F;
      }
    }
  }

  .error {
    display: block;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FF4D4F;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .btn {
    display: block;
    width: 100%;
    height: 40px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #1677FF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 16px;

    &.invalidCode {
      background: rgba(0, 0, 0, 0.04);
      border: 1px solid #D9D9D9;
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}