@import '../../scss/variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    padding: 20px 16px;

    span {
      font-size: 16px;
      font-weight: 900;
      color: rgba(0, 0, 0, 0.88);
    }
  }

  .title {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 300px;
    word-break: break-word;
    color: rgba(0, 0, 0, 0.88);
  }
}