.logInBtn {
  display: block;
  width: 100%;
  height: 40px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  color: rgba(0, 0, 0, 0.25);

  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #D9D9D9;
  border-radius: 8px;

  transition: all 0.3s ease-in-out;

  &:hover {
    background: #1677FF;
    box-shadow: 0px 2px 0px rgba(5, 145, 255, 0.1);
    color: #fff;
  }
}