@import './_variables';
@import './libs/normalize';

body {
  background-color: $bg-color;
}

.wrapper {
  box-sizing: border-box;
  width: 440px;
  height: 372px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 32px;
  margin: 50px auto;
}

.content {
  box-sizing: border-box;
  width: 376px;
}